body{
    background-color: #070A52;
    text-align: center;
    font-family: 'Sigmar', cursive;
}

h1{
    font-size: 8rem;
    margin: 50px;
    color: #D21312;
    
}

button{
    width: 150px;
    height: 8rem;
    margin: 30px 10px;
    font-size: 4rem;
    text-shadow:3px 0 white;
    font-family: 'Sigmar', cursive;
    color: #ED2B2A;
    border-radius: 5%;
    padding: 10px;
    border: 10px solid #404B69;
}

footer{
    margin-top: 8%;
    color: #F15A59;
}

.w {
    background-image: url("./images/crash.png");
  }
  
  .a {
    background-image: url("./images/kick.png");
  }
  
  .s {
    background-image: url("./images/snare.png");
  }
  
  .d {
    background-image: url("./images/tom1.png");
  }
  
  .j {
    background-image: url("./images/tom2.png");
  }
  
  .k {
    background-image: url("./images/tom3.png");
  }
  
  .l {
    background-image: url("./images/tom4.png");
  }


  .pressed{
    border: 10px solid grey;
  }